<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CodeKeeper with Flask</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div class="container">
        <h1>Título</h1>
        <form id="Form" method="POST" action="/add">
            <div class = "OneLineText">
                <label>Web:</label>
                <input type="text" name="web">
            </div>
            <div class="User">
                <label>Usuario:</label>
                <input type="text" name="user">
            </div>
            <div class="Password">
                <label>Contraseña:</label>
                <input type="password" name="password">
            </div>
            <button type="submit">Dale</button>
            
        </form>
    </div>
</body>
</html>